/* Footer */

#cookielay-container {
    .cookielay-footer {
        margin-top: 40px;
        color: $text-color;
        .credit {
            text-align: center;
            i {
                color: $primary;
                position: relative;
                top: 1px;
            }
            a {
                color: inherit;
                text-decoration: underline;
            }
        }
    }
}